* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;    
    margin: auto;
    margin-top: 20px;
    margin-left: 22%;
}

.profile-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;/*elementos horizontal */
    align-items: center;
    gap: 15px;/* Espacio*/
    max-width: 22%;
    max-height: 100%;
    margin-bottom: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background-color: #46fd71;
}

.profile-img {
    width: 50px;/* Tamaño del círculo */
    height: 50px;/* Tamaño del círculo */
    border-radius: 50%;/* Hace la imagen circular */
    object-fit: contain;/* Asegura que la imagen se vea completa dentro del círculo */
    border: 3px solid #333;/* Borde de la imagen (opcional) */
    margin-bottom: 20px;/* Espacio debajo de la imagen */
}

.profile-name{
    margin-bottom: 40px;   
    margin: 0;  
}

.profile-name_user{
    margin: 0px;
    width: 100px;
    top: 10px;
}


.logout{
    margin-left: 5px;
}

.icons-image{
    width: 25px;/* Ajusta el tamaño de la imagen */
    height: 25px;
    margin-bottom: 10px;
    object-fit: contain;
}

.config{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 60px;
    left: 20px; 
    cursor: pointer;
}

.config img{
    width: 100%;
    height: 100%;
}

.home-admin{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 100px;
    left: 20px;
    cursor: pointer;
}

.home-admin img {
    width: 100%;
    height: 100%;
}

.container-form_register{
    display:block;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: absolute;
    top: 900px;
    left: 500px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-form_register_config {
    display: block;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: absolute;
    top: 50px;
    left: 500px;
    background: #46A2FD;
    border-radius: 5px;
    padding: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-form_register_config h2{
    text-align: center;
}

.container-form_register form h2{
    text-align: center;
}

.container-form_register_config form h2 {
    text-align: center;
}

.container-form_register form {
    width: 100%;
    padding: 10px 50px 20px 20px;
    background: #46A2FD;
    position: absolute;
    border-radius: 20px;
    margin-top: 450px;
}

.formulario_register{
    bottom: 350px;
    margin-bottom: 0px;
}

.formulario_register input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #F2F2F2;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

#imagen{
    background-color: #535beb;
    color: white;
}

.upload-image{
    margin-top: 20px;
    color: white;
}

.selection-rol{
    margin-top: 20px;
    color: white;
}
#rol {
    margin-top: 20px;
}
.formulario_register button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: #535beb;
    color: white;
    cursor: pointer;
    outline: none;
}

.menu-container {
    position: absolute;
    left: 12px;
    margin-top: 140px;
    flex-direction: column;
    text-decoration: none;
}

.menu-link {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.submenu {
    display: none;/* Submenú oculto */
    margin-left: 20px;
    flex-direction: column;
}

.submenu a {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
}

/*config update*/

input:disabled,
select:disabled {
    background-color: #f0f0f0;
    color: #aaa;
    cursor: not-allowed;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.update-button {
    background-color: #007BFF;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#update-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#update-form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

/*Vista cuentas*/
.title-table{
    position: absolute;
    top: 20px;
    left: 350px;
}

table {
    position: absolute;
    top: 150px;
    left: 350px;
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    float: right;
    text-align: left;
}
        
th,
td {
    padding: 8px;
    border: 1px solid #ddd;
}
        
th {
    background-color: #f4f4f4;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*busqueda vista_cuentas*/
.search-form {
    position: absolute;
    top: 100px;
    left: 350px;
    margin-bottom: 20px;
}

.search-form input {
    padding: 8px;
    width: 200px;
}

.search-form button {
    padding: 8px;
    background-color: #46A2FD;
    color: white;
    border: none;
    cursor: pointer;
}