* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;    
    margin: auto;
    margin-top: 20px;
    margin-left: 22%;
}

.profile-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;/*elementos horizontal */
    align-items: center;
    gap: 15px;/* Espacio*/
    max-width: 22%;
    max-height: 100%;
    margin-bottom: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background-color: #46fd71;
}

.profile-img {
    width: 50px;/* Tamaño del círculo */
    height: 50px;/* Tamaño del círculo */
    border-radius: 50%;/* Hace la imagen circular */
    object-fit: contain;/* Asegura que la imagen se vea completa dentro del círculo */
    border: 3px solid #333;/* Borde de la imagen (opcional) */
    margin-bottom: 20px;/* Espacio debajo de la imagen */
}

.profile-name{
    margin-bottom: 40px;   
    margin: 0;  
}

.profile-name_user{
    margin: 0px;
    width: 100px;
    top: 10px;
}


.logout{
    margin-left: 5px;
}

.icons-image{
    width: 25px;/* Ajusta el tamaño de la imagen */
    height: 25px;
    margin-bottom: 10px;
    object-fit: contain;
}

.config{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 60px;
    left: 20px; 
    cursor: pointer;
}

.config img{
    width: 100%;
    height: 100%;
}

.home-admin{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 100px;
    left: 20px;
    cursor: pointer;
}

.home-admin img {
    width: 100%;
    height: 100%;
}

.container-form_register{
    display:block;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: absolute;
    top: 900px;
    left: 500px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-form_register_students{
    display:block;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: absolute;
    top: 800px;
    left: 500px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-form_register_students form {
    width: 100%;
    padding: 10px 50px 20px 20px;
    background: #40e066;
    position: absolute;
    border-radius: 20px;
    margin-top: 450px;
}

.container-form_register_config {
    display: block;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: absolute;
    top: 50px;
    left: 500px;
    background: #40e066;
    border-radius: 5px;
    padding: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-form_register_config h2{
    text-align: center;
}

.container-form_register form h2{
    text-align: center;
}

.container-form_register_config form h2 {
    text-align: center;
}

.container-form_register form {
    width: 100%;
    padding: 10px 50px 20px 20px;
    background: #40e066;
    position: absolute;
    border-radius: 20px;
    margin-top: 450px;
}

.formulario_register{
    bottom: 350px;
    margin-bottom: 0px;
}

.formulario_register input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #F2F2F2;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

#imagen{
    background-color: #40e066;
    color: white;
}

.upload-image{
    margin-top: 20px;
    color: white;
}

.selection-rol{
    margin-top: 20px;
    color: white;
}
#rol {
    margin-top: 20px;
}
.formulario_register button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: #2b9744;
    color: white;
    cursor: pointer;
    outline: none;
}

.menu-container {
    position: absolute;
    left: 12px;
    margin-top: 140px;
    flex-direction: column;
    text-decoration: none;
}

.menu-link {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.submenu {
    display: none;/* Submenú oculto */
    margin-left: 20px;
    flex-direction: column;
}

.submenu a {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
}

/*config update*/

input:disabled,
select:disabled {
    background-color: #f0f0f0;
    color: #aaa;
    cursor: not-allowed;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.update-button {
    background-color: #2b9744;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#update-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#update-form input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
}

/*Vista cuentas*/
.title-table{
    position: absolute;
    top: 20px;
    left: 400px;
    margin: 40px auto;
    max-width: 80%;
    overflow-x:auto;
    text-align: left;
}

table {
    position: absolute;
    top: 150px;
    left: 400px;
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    float: right;
    text-align: left;
}
        
th,
td {
    padding: 8px;
    border: 1px solid #015114;
}
        
th {
    background-color: #46fd71;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*busqueda vista_cuentas*/
.search-form {
    position: absolute;
    top: 110px;
    left: 400px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.search-form input {
    padding: 8px;
    width: 200px;
}

.search-form button {
    padding: 8px;
    background-color: #40e066;
    color: white;
    border: none;
    cursor: pointer;
}
/*titulo registro estudiantes*/
.title-register_students{
    position: absolute;
    top: 20px;
    left: 540px;
}

/* Paginación */
.pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 105px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.pagination a:hover {
    background-color: #ddd;
    border-color: #aaa;
}

.pagination a.active {
    background-color: #40e066;
    color: white;
    border-color: #40e066;
    pointer-events: none;
}

/*Dashboard Admin*/

.dashboard {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 40px;
    background-color: #40e066;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-left: 10px;
    border-radius: 10px;
    max-width: 75%;
    left: 200px;
}

.stat-card {
    text-align: center;
    padding: 20px;
    width: 200px;
    border: 1px solid #32ac4f;
    border-radius: 8px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 2px 2px 5px #d1d1d1, -2px -2px 5px #ffffff;
}

.stat-card h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.stat-card p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #555;
}